##FINAL PROJECT TOPIC DETAILS: Student Performance Analysis

##Load Dataset Of Student Performance Analysis

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df=pd.read_csv( "student_performance_dataset.csv" )
df.head()

,Name,Gender,Class,Maths,Science,English,History,Computer,Attendance%,Total,Percentage,Grade
0,Olivia Davis,Male,11th,97,57,74,90,65,99,383,76.6,B
1,Daniel Garcia,Female,10th,51,97,51,55,48,75,302,60.4,C
2,Mia Johnson,Male,10th,67,49,35,81,87,72,319,63.8,C
3,Daniel Williams,Male,10th,63,59,95,93,82,89,392,78.4,B
4,John Brown,Male,12th,47,51,77,40,96,78,311,62.2,C

##Shape of Dataset

In [ ]:
df.shape

(250, 12)